{
	"point_score": {
		"follower": 500,
		"sub": 100,
		"cheer": 1,
		"view": 2,
		"patreon": 500
	},
	"starting_amount": {
		"follower": 0,
		"sub": 0,
		"cheer": 0,
		"view": 0,
		"patreon": 0
	},
	"connection": {
		"request_interval": 5,
		"twitch": {
			"request_client_id": "",
			"request_client_secret": "",
			"request_twitch_oauth_url": "https://id.twitch.tv/oauth2/token",
			"request_twitch_stream_url": "https://api.twitch.tv/helix/streams"
		},
		"streamlabs": {
			"folder": "C:\\Users",
			"follower_filename": "session_follower_count.txt",
			"sub_filename": "session_subscriber_score.txt",
			"cheer_filename": "session_cheer_amount.txt"
		},
		"patreon": {
			"request_patreon_url": ""
		}
	},
	"output": {
		"screen": {
			"window_width": 700,
			"window_height": 200,
			"font_size": 150,
			"update_interval": 1
		},
		"file": {
			"folder": "C:\\Users",
			"filename": "session_point_amount.txt"
		},
		"log": {
			"folder": "C:\\Users"
		},
		"console": {
			"verbose": true
		}
	}
}