{
	"point_score": {
		"follower": 500,
		"sub": 100,
		"cheer": 1,
		"view": 2,
		"patreon_tier1": 100,
		"patreon_tier2": 500,
		"patreon_tier3": 800
	},
	"awarding": {
		"random_excluded_viewers": [""],
		"chat_active_time": 20
	},
	"connection": {
		"request_interval": 5,
		"supabase": {
			"request_url": "",
			"request_key": ""
		},
		"twitch_irc": {
			"host" : "irc.twitch.tv",
			"port" : 6667,
			"channel" : "",
			"pass" : "",
			"nick" : ""
		},
		"twitch_api": {
			"client_id": "",
			"client_secret": "",
			"oauth_request_url": "https://id.twitch.tv/oauth2/token",
			"streams_request_url": "https://api.twitch.tv/helix/streams"
		},
		"streamlabels": {
			"folder": "C:\\Users",
			"follower_filename": "session_follower_count.txt",
			"sub_filename": "session_subscriber_count.txt",
			"cheer_filename": "session_cheer_amount.txt"
		},
		"patreon": {
			"client_id" : "",
			"client_secret" : "",
			"creator_id" : "",
			"tier1_name": "",
			"tier2_name": "",
			"tier3_name": ""
		}
	},
	"display_output": {
		"screen": {
			"window_width": 700,
			"window_height": 200,
			"font_size": 150,
			"update_interval": 5
		},
		"file": {
			"folder": "C:\\Users",
			"filename": "session_point_amount.txt"
		}
	}
}